td { text-align: center; border: solid 1px #000 }
table { border-collapse: collapse; font-family: 'Courier New', Courier, monospace; font-size: 16px; transform: scaleX(0.85); transform-origin: left; letter-spacing: -1px;}
